# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:** (takeaways from this course)
- learn how to create a Jupyter Notebook
- learn how to create markdowns and code lines in Jupyter Notebook
- learn how to do simple arithmetic expressions
- learn some popular languages used in Data Science
- learn some of the commonly used libraries by Data Scientists

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

## Some of the commonly used libraries by Data Scientists inlude:
1. Pandas
2. Matplotlib
3. NumPy
4. Seaborn
5. TensorFlow

|Data Science Tools|
-----------------------
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are few examples of evaluating arithmetic expressions on Python

In [2]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes in hours by diving by 60
200/60

3.3333333333333335

## Author
Cristian A. W. Villas Boas